
.footer{
  background-color: rgb(29, 25, 25);
  padding: 60px auto 40px; 
  min-width: 350px;
  border: solid 1px green;
}
.footer__column{
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border: solid 1px yellow;
  margin: 0 auto;
  height: 20vh;
  justify-content: space-between;
}
.footer__content_copyright{
  display:flex;
  flex-basis:711px;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px red;
}
.logo__place_footer{
    width: 183px;
    height: 32px;
    background-image: url(./logo_place_footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.footer__author{
  background-color: black;
  margin:18px 0;
}
.footer__content-info{
  display:block;
  height:100%;
  border: solid 1px green;
}
.footer__column-heading{
  display:block;
  margin:0 0 20px;
  border:solid 1px red;
}
.footer__heading-links{
  display:flex;
  flex-direction: column;
  margin: 0 0 16px;
  margin:0;
}

.footer__column-links{
  list-style-type: none;
  margin:0;
}
.footer__content_social{
  display:flex;
  flex-direction: column;
  height:100%;
  border: solid 1px green;
}

